%pre
		= comment.content
		%em=time_ago_in_words comment.created_at
		%strong=comment.user_name
		%br
		= link_to t('views.post.delete_comment'), [@post, comment], :method => :delete, :confirm => t('views.post.are_you_sure')